<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hiberus_molina>
            <general_config_exam>
                <numExam>10</numExam>
                <minNote>5</minNote>
            </general_config_exam>
        </hiberus_molina>
    </default>
</config>
