<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hiberus_tab" translate="label" sortOrder="1">
            <label>HIBERUSExam</label>
        </tab>
        <section id="hiberus_molina" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Exam Configuration</label>
            <tab>hiberus_tab</tab>
            <resource>Hiberus_Molina::config</resource>
            <group id="general_config_exam" translate="label" type="text" sortOrder="10"  showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Config Label</label>
                <field id="numExam" translate="label" type="text" sortOrder="1"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>num of exams</label>
                </field>
                <field id="minNote" translate="label" type="text" sortOrder="2"  showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>minim note</label>
                </field>
            </group>
        </section>
    </system>
</config>
